*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #FFFBF0;
    padding-top: 10px;
    padding-bottom: 120px;
}
.page-hero-section{
    margin-top: 110px;
}
.nav-logo{
    width: 300px;
}
.hero-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.line-two{
    color: #363958;
}
p{
    font-family: 'Roboto', sans-serif;
}
.buy-btn{
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 15px 28px;
    background-color: #A4BC46;
}
.section-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}
.card-text{
    color: dimgray;
    font-size: 16px;
    font-weight: 500;
}
.product-price{
    color: #FABE4C;
    font-size: 36;
    font-weight: 800;
}
.card-1, .card-2, .card-3{
    padding: 20px;
    border-radius: 20px;
    border: none;
}
.product-image{
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 20px;
}
.card-footer{
    background-color: white;
    border: none;
}
#about{
    display: flex;
    align-items: center;
}
.box-image img{
    width: 90px;
    margin-right: 25px;
}
.box{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.recommend-option{
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    place-items: center;
    margin: 0 auto;
}
.option-items{
    text-decoration: none;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 5px;
    color:#A4BC46;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;
}
.recomment-card{
    border: none;
    border-radius: 20px;
}
.filled{
    color: gold;
}
.small-buy-btn{
    background-color: #9fbd27;
    border: none;
}
.subscribe-card{
    border: none;
}
.footer-bar{
    background-color: #FFFBF0;
}
.navigation-list a{
    text-decoration: none;
}
.social-icon{
    display: flex;
    
}
.icon{
    font-size: 35px;
    margin: 5px;
}
.author{
    text-decoration: none;
}

@media (max-width: 576px) { 
    .top-section{
        display: flex;
        flex-direction: column;
    }
    .section-title{
        text-align: center;

    }
    .recommend-option{
        display: flex;
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .box-image{
        text-align: center;
        margin-right: 0;
    }
    #about{
        display: inline-block;
    }
    .social-icon{
        display: flex;
        justify-content: center;
    }
 }

@media (max-width: 768px) {
    .top-section{
        display: flex;
        flex-direction: column;
    }
    .recommend-option{
        display: flex;
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .social-icon{
        display: flex;
        justify-content: center;
    }
 }
